
  @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Roboto:wght@300&display=swap');
 
  body::-webkit-scrollbar {
  width: 7px;
}
  
  body::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(51, 2, 97);    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border: 1px solid rgb(190, 134, 243);  
  }

html, body {
	margin: 0;
	padding: 0;
  width: 100%;
	padding: 5px;
	box-sizing: border-box;
  font-family: 'Fira Code';
  color:white;
}

.navbar .contenido {
	max-width: 1024px;
	display:flex;
	justify-content: space-evenly;
	margin: 0 auto;
}
.bars ul {
	display: flex;
	align-items: center;
	list-style: none;
	/* width: 400px; */
	justify-content: space-between;
	padding: 0;
	padding-left: 4px;
}
.bars ul li a {
	text-decoration: none;
	color:white;
	transition: 1s;
	text-transform: uppercase;
  margin: 0 15px 0 15px;
  padding: 5px;
  border-radius: 5px;
}
.bars ul li a:hover {
	text-decoration: none;
	color:white;
  background: linear-gradient(to  right, rgb(51, 2, 97), rgb(190, 134, 243));
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3)
}

.bars-button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, .8);
	display: none;
	position: fixed;
	z-index: 99;
	left: 7px;
	top: 11px;
	color: white;
	cursor: pointer;
}
@media screen and (max-width: 768px) {
	.navbar .contenido {
		justify-content: flex-end;
	}
	.bars-button {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.bars {
		position: fixed;
		background: rgba(0, 0, 0, .5);
		z-index: 98;
		top: 0;
		left: -100vw;
		width: 100vw;
		bottom: 0;
		display: flex;
		justify-content: center;
		transition: .3s;
	}  
	.bars.is-active {
		left: 0;
	}
	.bars ul {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.bars ul li {
		padding: 5px;
	}
	.bars ul li a {
		color: white;
		font-weight: 700;
		
	}

}